* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  width: 20%;
  margin-right: 20px;
  text-align: center;
}
.tab-content {
  width: 70%;
}
.btn-yesterday,
.btn-tomorrow {
  width: 30%;
}
